<app-header></app-header>
<div class="right_col" role="main" style="min-height: 1664px;">
    <!-- top tiles -->
    <div class="row" style="display: inline-block;">
        <div class="tile_count">
            <div class="col-md-2 col-sm-4  tile_stats_count">
                <span title="Số lượng khách hàng" class="count_top"><i class="fa fa-user"></i> Số lượng khách hàng</span>
                <div class="count"></div>

            </div>
            <div class="col-md-2 col-sm-4  tile_stats_count">
                <span title="Tổng số đơn hàng đã nhận" class="count_top"><i class="fa fa-clock-o"></i>Tổng số đơn hàng đã nhận</span>
                <div class="count"></div>

            </div>
            <div class="col-md-2 col-sm-4  tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Tổng số sản phẩm</span>
                <div class="count green"> </div>

            </div>
            <div class="col-md-2 col-sm-4  tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Đơn hàng đã giao</span>
                <div class="count">{{billNumber}}</div>

            </div>

        </div>
    </div>
    <!-- /top tiles -->
</div>
<app-footer></app-footer>
